.navbar{
  padding: 20px;
  background-color: rgb(233,224,222)


}

.search {
  display:flex;
  justify-content: left;
  padding: 20px 20px;
}

.button{
  display: flex;
  justify-content: center;
  padding: 200px 20px;
}